<div class = "panel panel-default">
	<div class = "panel-heading">
		<h1>New Note</h1>
	</div>
	<div class = "panel-body">
		<%= render 'formnew' %>
	</div>
	<div class="panel-footer">
		<%= link_to 'Back to Notes', notes_path %>
	</div>
</div>

