<div class = "panel panel-default">
	<div class = "panel-heading">
		<h1>Give Feedback</h1>
	</div>
	<div class = "panel-body">
			<p>Pitchzilla is a simple pitch tracking application that makes it easy for you as an Adwords Online specialist to record, track, and analyze your interactions with Advertisers. If you have any feedback please feel free to fill out the form below or send an email to --> <strong><%= link_to "ZAC@GOOGLE.COM", mailto: "zac@google.com" %></strong></p>
</div>
<div class = "panel-footer">
	<%= link_to '+ New Case', new_advertiser_path, class: "btn btn-success btn-lg" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Just incase you get a call :)</strong>
</div></div>
